.add-member-buttons {
  height: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 560px;
  display: flex;
  font-size: 30px;
  align-content: center;
  justify-content: center;
}

.me-2 {
  text-align: center;
}

.vertical-bar {
  color: white;
  opacity: 10%;  
  display: flex;
  height: 40px;
  justify-content: center;
  align-items: center;
}

.vertical-bar span {
  font-weight: bold;
  border: 2px solid #3F3F3F;
  opacity: 10%;
}

.text-add-member-button {
  display: flex;
  font-size: 18px;
  justify-content: center;  
}

.sync-team-text {
  font-weight: bold;
  opacity: 10%;
}